
*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body, h1, p, ul, li {
    margin: 0;
    padding: 0;
}


header {
    text-align: center;
    background: linear-gradient(to bottom, #E6E6FA, #b7b7f4);
    padding: 20px;
}


h1 {
    font-size: 36px;
    margin-bottom: 15px;
}


p {
    font-size: 18px;
    margin-bottom: 20px;
}


.navbar ul {
    list-style: none;
}

.navbar li {
    display: inline;
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: #333;
    font-size: 20px;
}


.avatar {
    text-align: center;
    margin-top: 20px;
}

.avatar img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    align-items: center;
}

